
  
  /* Animación de aparición del contenido */
  .hero-content {
    animation: fadeIn 2s ease-out;
  }
  
  /* Fondo en transición */
  .hero-bg {
    transition: background-color 1s ease-in-out;
  }
  
  .nav-link {
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
  }

  .nav-link:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }

  .nav-link:hover {
    color: red;
  }

  .logo {
    height: 56px; /* h-14 */
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }

  .logo-container:hover .logo {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px red) drop-shadow(0 0 10px red);
  }